* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

nav {
  background-color: #595656;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border:2px solid red;
}

/* .list {
  width: 200px;
  display: flex;
justify-content: space-between;
} */
button{
  margin: 0 20px;
  padding: 10px 20px;
  background-color: #9a80809b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
button:active {
  color: #333;
  background-color: #fff;
}