
.box{
    border: 3px solid red;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    bottom:20px;
    padding: 20px;
    transition: 2s;
}


html{
    scroll-behavior: smooth;
    font-family: 'Pacifico', cursive;
}
.box:hover{
    background-color: cadetblue;
}