/* .block {
    border: 2px solid red;
    width: 500px;
    height: 500px;
    position: relative;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    background-color: red;
} */

/* .container {
    width: 1200px;
    margin: 0 auto;
} */

.grid {
    width: 100%;
    height: 200px;
    background-color: aqua;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}
.content {
    border:1px solid red;
}