.batery {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.batery__box {
  background-color: #333;
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

.box1 {
  border-radius: 10px 0 0 10px;
  margin: 5px;
}

.box1,
.box2,
.box3 {
  width: 190px;
  height: 390px;
  display: inline-block;
  border: 3px solid aqua;
}

.box2 {
  margin: 5px 0;
}

.box3 {
  border-radius: 0 10px 10px 0;
  margin: 5px;
}

.box {
  width: 70px;
  height: 200px;
  background-color: #333;
  border-radius: 0 10px 10px 0;
}

/* .batery {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.batery_box {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #333;
}
.box1 {
  margin: 5px;
  border-radius: 5px 0 0 5px;
}
.box2 {
  margin: 5px 5px 5px 0;
}
.box3 {
  margin: 5px 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.box1,
.box2,
.box3 {
  width: 190px;
  height: 390px;
  border: 3px solid aqua;
  display: inline-block;
} */


.loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-left: 5px solid #ff006e;
  animation: rightratate 900ms linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border-right: 4px solid #3a86ff;
  border-radius: 50%;
  animation: leftratate 900ms linear infinite;
}

.loader::after {
  width: 90px;
  height: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border: 0;
  border-left: 3px solid #ffbe0b;
  animation: none;
}

@keyframes leftratate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes rightratate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}